[flake8]
max-line-length = 88
extend-ignore = E203, E266, E501, W503, F403, F401, E402
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude = 
    .git,
    __pycache__,
    alembic/versions,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist
per-file-ignores =
    __init__.py:F401
    conftest.py:F401,F811
